services:

  caddy:
    image: caddy:2
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web

  docmost:
    image: docmost/docmost:latest
    depends_on:
      - redis
    environment:
      APP_URL: '${APP_URL}'
      APP_SECRET: '${APP_SECRET}'
      DATABASE_URL: "${DATABASE_URL}"
      REDIS_URL: 'redis://redis:6379'
    expose:
      - "3000"
    restart: unless-stopped
    volumes:
      - docmost:/app/data/storage
    networks:
      - web

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - web

networks:
  web:
    external: true

volumes:
  docmost:
  redis_data:
  caddy_data:
  caddy_config:
